:root {
  --bg-button: #f0f0f0;
  --border-button: solid 1px #888;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 600;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
  border-radius: 8px;
  margin: 1px;
}

.button:active {
  background-color: #ccc;
}

.button.col2 {
  grid-column: span 2;
}

.button.col3 {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
  color: #fff;
}

.button.operation:active {
  background-color: #fa8231cc;
  color: #fff;
}
